<?xml version="1.0"?>


  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <add key="chave1" value="24990d00"/>
    <add key="chave2" value="58a37dd5"/>
    <add key="urlWeather" value="https://api.hgbrasil.com/weather/"/>
    <add key="urlIBGE" value="https://servicodados.ibge.gov.br/api/v1/localidades/estados/{UF}/municipios"/>
    
  </appSettings>

