* {
    outline: none;
    box-sizing: border-box;
}

#header {
    margin: auto;
    padding: 20px 0;
    display: block;
    max-width: 300px;
    height: auto;
    text-align: center;
}

#loading {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    right: 0;
    padding: 0 !important;
    display: none;
}

    #loading img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50px;
        height: auto;
        transform: translate(-50%, -50%);
    }

h2 {
    text-align: center;
}

input[type=text] {
    border: #dddddd 2px solid !important;
    max-width: 100% !important;
    width: 100% !important;
    border-radius: 5px !important;
    background: #9E9E9E !important;
    color: #fff !important;
    padding: 12px 15px !important;
}

select {
    height: auto !important;
    border: #dddddd 2px solid !important;
    border-radius: 5px !important;
    background: #9E9E9E !important;
    color: #fff !important;
    padding: 12px 15px !important;
}


.btnPesquisar {
    cursor: pointer;
    padding-top: 8px;
}

    .btnPesquisar:hover {
        opacity: 0.8;
        transform: scale(1.05);
    }

.form-control:focus {
    border-color: none !important;
    box-shadow: none !important;
}

.dados-principais{
    text-align: center;
}

    .dados-principais .umidade-do-ar, .dados-principais .temperatura-atual {
        margin: 2rem 0;
    }

    .dados-principais  {
        box-shadow: 2px 2px 7px;
    }

.previsao-tempo-atual-container{
    position: relative;
}

.data-consulta p{
    position: absolute;
    top: 0;
    right: 2rem;
}

#accordion {
    border: 1px solid #d6d6d6;
    padding: 1.2rem;
    box-shadow: 2px 2px 7px;
    margin-top: 5rem;
    display: none;
}

    #accordion h2 {
        margin-bottom: 2rem;
        font-size: 1.9rem;
        font-weight: 800;
        color: #9E9E9E;
    }


.panel {
    border-color: #d6d6d6;
    margin: 1.2rem;
}

    .panel .panel-heading {
        background: #fafafa;
        border-bottom: 2px solid #ececec;
        padding-bottom: 9px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 11px;
        position: relative;
        cursor: pointer;
    }

        .panel .panel-heading:hover {
            box-shadow: 2px 2px 2px rgba(0,0,0, 0.3);
            transition: 2s ease;
        }

    .panel .panel-dia-semana {
        padding: 1.3rem;
        text-align: center;
    }


#accordion a {
    display: block;
    text-decoration: none;
    color: black;
}

#accordion .accordion-toggle::after {
    color: #aaa;
    content: "\f146";
    display: block;
    font-family: FontAwesome;
    font-size: 10px;
    line-height: 36px;
    position: absolute;
    top: 3px;
    right: 15px;
}

.card-condicao-tempo {
    box-shadow: 3px 3px 7px;
    border-radius: 5px;
    padding: 1.2rem 0.8rem;
    width: 50%;
    margin: auto;
}

.info-temperatura label {
    margin: 0.9rem;
}


#accordion .accordion-toggle.collapsed::after {
    content: "\f0fe";
}

@media (max-width: 992px) {
    select {
        max-width: 100% !important;
    }

    .btnPesquisar {
        margin-left: 50%;
    }

    #accordion {
        border: 1px solid #d6d6d6;
        padding: 1.2rem;
        box-shadow: 2px 2px 7px;
        margin-top: 2rem;
    }

    .dados-principais {
        margin: 2rem;
        padding: 2rem;
    }
}
